<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>

<form th:method="POST" th:action="@{/updateUser}" th:object="${user}">
    <label for="name=">Enter name, lastname and age: </label>
    <input readonly type="number" th:field="*{id}" id="id"/>
    <input type="text" th:field="*{name}" id="name="/>
    <input type="text" th:field="*{lastName}" id="lastName="/>
    <input type="number" th:field="*{age}" id="age"/>

    <br/>
    <input type="submit" value="Update!"/>
</form>
</body>
</html>